@model IEnumerable<WebInacap.Models.Sede>

@{
    ViewData["Title"] = "Administracion de Sedes";
}

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary m-2 p-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
    <i class="bi bi-patch-plus mx-2"></i>Agregar Sede
</button>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Correo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Correo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form asp-action="addSede" method="post">
                    <div class="mb-3">
                        <input type="text" name="NombreSede" class="form-control" placeholder="Nombre Sede">
                    </div>
                    <div class="mb-3">
                        <input type="text" name="Telefono" class="form-control" placeholder="Telefono">
                    </div>
                    <div class="mb-3">
                        <input type="text" name="Direccion" class="form-control" placeholder="Direccion">
                    </div>
                    <div class="mb-3">
                        <input type="email" name="Correo" class="form-control" placeholder="Correo">
                    </div>
                    <button type="submit" class="btn btn-primary col-12">Agregar Sede</button>
                </form>
            </div>
        </div>
    </div>
</div>
